window {
  background: transparent;
}

box.main {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid #393939;
  background-color: #161616;
}

text {
  min-height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 700;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match.description {
  font-size: 10px;
}

label.plugin.info {
  font-size: 14px;
  color: #dde1e6;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 800;
  margin-left: 10px;
}

.match {
  background: transparent;
  border-radius: 10px;
  transition: 0.1s padding;
  padding-left: 2px;
  margin-bottom: 2px;
  color: #dde1e6;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 700;
}

.match:selected {
  background: #393939;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 2px;
}
